{% extends 'core/master.html' %}

{% block title %}Login{% endblock %}

{% block navbar %}{% endblock %}

{% block header %}
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h2 class="modal-title" id="myModalLabel">Anmeldung</h2>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><strong>-- ODER --</strong></p>
            <a href="{% url 'social:begin' 'google-oauth2' %}?next=/">mit Google</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><strong>-- ODER --</strong></p>
            <a href="{% url 'social:begin' 'twitter' %}">mit Twitter</a>
        </div>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
</div>
{% endblock %}